DB_HOST=aws-1-eu-west-1.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.drkpmyhtggmpiuclided
DB_PASSWORD=Ahedahed123_Supabase
DB_NAME=postgres

EMAIL_USER=SmileCare963@gmail.com
EMAIL_APP_PASSWORD=xedbammusopitvpg
